In [10]:
# Load a CSV file into a Pandas DataFrame, display the first five rows, and show basic information about the dataset.
import pandas as pd
df = pd.read_csv('imdb_movie_dataset.csv')
print(df.head())
print(df.info())

   Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB
None

In [14]:
# Filter the rows of a DataFrame where the values in the Age column are greater than 30.
filtered_df = df[df['Rating'] > 8]
print(filtered_df)

     Rank                                         Title  \
0       1                       Guardians of the Galaxy
6       7                                    La La Land
16     17                                 Hacksaw Ridge
18     19                                          Lion
26     27                       Bahubali: The Beginning
36     37                                  Interstellar
50     51    Star Wars: Episode VII - The Force Awakens
54     55                               The Dark Knight
64     65                                  The Prestige
67     68                            Mad Max: Fury Road
74     75                                      Zootopia
76     77                                  The Avengers
77     78                          Inglourious Basterds
80     81                                     Inception
82     83                       The Wolf of Wall Street
83     84                                     Gone Girl
90     91                                     Prisoners
92     93                                      The Help
96     97                                 Kimi no na wa
99    100                                  The Departed
111   112                              12 Years a Slave
114   115  Harry Potter and the Deathly Hallows: Part 2
117   118                                        Dangal
124   125                         The Dark Knight Rises
133   134                                      Whiplash
136   137                        No Country for Old Men
138   139                                Shutter Island
143   144                                          Room
144   145                              Django Unchained
145   146                                     Ah-ga-ssi
154   155                Twin Peaks: The Missing Pieces
192   193                                     Spotlight
194   195                                       Warrior
197   198                                 Into the Wild
198   199                            The Imitation Game
230   231                               Pan's Labyrinth
238   239                      The Grand Budapest Hotel
241   242                                    Inside Out
249   250                              The Intouchables
299   300                           There Will Be Blood
334   335                                          Rush
427   428                          The Bourne Ultimatum
430   431                                      3 Idiots
455   456                                        Jagten
476   477                           The Lives of Others
478   479                                Paint It Black
499   500                                            Up
608   609                                         Mommy
634   635                                        WALLÂ·E
641   642                              Relatos salvajes
645   646                                   Gran Torino
688   689                                   Toy Story 3
695   696                           Hachi: A Dog's Tale
713   714                                     Incendies
742   743                        El secreto de sus ojos
765   766                                            PK
772   773                      How to Train Your Dragon
861   862                                Koe no katachi
991   992                              Taare Zameen Par

                          Genre  \
0       Action,Adventure,Sci-Fi
6            Comedy,Drama,Music
16      Biography,Drama,History
18              Biography,Drama
26       Action,Adventure,Drama
36       Adventure,Drama,Sci-Fi
50     Action,Adventure,Fantasy
54           Action,Crime,Drama
64         Drama,Mystery,Sci-Fi
67      Action,Adventure,Sci-Fi
74   Animation,Adventure,Comedy
76                Action,Sci-Fi
77          Adventure,Drama,War
80      Action,Adventure,Sci-Fi
82       Biography,Comedy,Crime
83          Crime,Drama,Mystery
90          Crime,Drama,Mystery
92                        Drama
96      Animation,Drama,Fantasy
99         Crime,Drama,Thriller
111     Biography,Drama,History
114     Adventure,Drama,Fantasy
117      Action,Biography,Drama
124             Action,Thriller
133                 Drama,Music
136        Crime,Drama,Thriller
138            Mystery,Thriller
143                       Drama
144               Drama,Western
145       Drama,Mystery,Romance
154        Drama,Horror,Mystery
192         Crime,Drama,History
194          Action,Drama,Sport
197   Adventure,Biography,Drama
198    Biography,Drama,Thriller
230           Drama,Fantasy,War
238      Adventure,Comedy,Drama
241  Animation,Adventure,Comedy
249      Biography,Comedy,Drama
299               Drama,History
334      Action,Biography,Drama
427     Action,Mystery,Thriller
430                Comedy,Drama
455                       Drama
476              Drama,Thriller
478                       Drama
499  Animation,Adventure,Comedy
608                       Drama
634  Animation,Adventure,Family
641       Comedy,Drama,Thriller
645                       Drama
688  Animation,Adventure,Comedy
695                Drama,Family
713           Drama,Mystery,War
742       Drama,Mystery,Romance
765        Comedy,Drama,Romance
772  Animation,Action,Adventure
861     Animation,Drama,Romance
991          Drama,Family,Music

                                           Description  \
0    A group of intergalactic criminals are forced ...
6    A jazz pianist falls for an aspiring actress i...
16   WWII American Army Medic Desmond T. Doss, who ...
18   A five-year-old Indian boy gets lost on the st...
26   In ancient India, an adventurous and daring ma...
36   A team of explorers travel through a wormhole ...
50   Three decades after the defeat of the Galactic...
54   When the menace known as the Joker wreaks havo...
64   Two stage magicians engage in competitive one-...
67   A woman rebels against a tyrannical ruler in p...
74   In a city of anthropomorphic animals, a rookie...
76   Earth's mightiest heroes must come together an...
77   In Nazi-occupied France during World War II, a...
80   A thief, who steals corporate secrets through ...
82   Based on the true story of Jordan Belfort, fro...
83   With his wife's disappearance having become th...
90   When Keller Dover's daughter and her friend go...
92   An aspiring author during the civil rights mov...
96   Two strangers find themselves linked in a biza...
99   An undercover cop and a mole in the police att...
111  In the antebellum United States, Solomon North...
114  Harry, Ron and Hermione search for Voldemort's...
117  Former wrestler Mahavir Singh Phogat and his t...
124  Eight years after the Joker's reign of anarchy...
133  A promising young drummer enrolls at a cut-thr...
136  Violence and mayhem ensue after a hunter stumb...
138  In 1954, a U.S. marshal investigates the disap...
143  A young boy is raised within the confines of a...
144  With the help of a German bounty hunter , a fr...
145  A woman is hired as a handmaiden to a Japanese...
154  Twin Peaks before Twin Peaks (1990) and at the...
192  The true story of how the Boston Globe uncover...
194  The youngest son of an alcoholic former boxer ...
197  After graduating from Emory University, top st...
198  During World War II, mathematician Alan Turing...
230  In the falangist Spain of 1944, the bookish yo...
238  The adventures of Gustave H, a legendary conci...
241  After young Riley is uprooted from her Midwest...
249  After he becomes a quadriplegic from a paragli...
299  A story of family, religion, hatred, oil and m...
334  The merciless 1970s rivalry between Formula On...
427  Jason Bourne dodges a ruthless CIA official an...
430  Two friends are searching for their long lost ...
455  A teacher lives a lonely life, all the while s...
476  In 1984 East Berlin, an agent of the secret po...
478  A young woman attempts to deal with the death ...
499  Seventy-eight year old Carl Fredricksen travel...
608  A widowed single mother, raising her violent s...
634  In the distant future, a small waste-collectin...
641  Six short stories that explore the extremities...
645  Disgruntled Korean War veteran Walt Kowalski s...
688  The toys are mistakenly delivered to a day-car...
695  A college professor's bond with the abandoned ...
713  Twins journey to the Middle East to discover t...
742  A retired legal counselor writes a novel hopin...
765  A stranger in the city asks questions no one h...
772  A hapless young Viking who aspires to hunt dra...
861  The story revolves around Nishimiya Shoko, a g...
991  An eight-year-old boy is thought to be a lazy ...

                             Director  \
0                          James Gunn
6                     Damien Chazelle
16                         Mel Gibson
18                        Garth Davis
26                     S.S. Rajamouli
36                  Christopher Nolan
50                        J.J. Abrams
54                  Christopher Nolan
64                  Christopher Nolan
67                      George Miller
74                       Byron Howard
76                        Joss Whedon
77                  Quentin Tarantino
80                  Christopher Nolan
82                    Martin Scorsese
83                      David Fincher
90                   Denis Villeneuve
92                        Tate Taylor
96                     Makoto Shinkai
99                    Martin Scorsese
111                     Steve McQueen
114                       David Yates
117                     Nitesh Tiwari
124                 Christopher Nolan
133                   Damien Chazelle
136                        Ethan Coen
138                   Martin Scorsese
143                  Lenny Abrahamson
144                 Quentin Tarantino
145                    Chan-wook Park
154                       David Lynch
192                      Tom McCarthy
194                    Gavin O'Connor
197                         Sean Penn
198                     Morten Tyldum
230                Guillermo del Toro
238                      Wes Anderson
241                       Pete Docter
249                   Olivier Nakache
299              Paul Thomas Anderson
334                        Ron Howard
427                   Paul Greengrass
430                   Rajkumar Hirani
455                 Thomas Vinterberg
476  Florian Henckel von Donnersmarck
478                     Amber Tamblyn
499                       Pete Docter
608                      Xavier Dolan
634                    Andrew Stanton
641                    DamiÃ¡n Szifron
645                    Clint Eastwood
688                       Lee Unkrich
695                   Lasse HallstrÃ¶m
713                  Denis Villeneuve
742              Juan JosÃ© Campanella
765                   Rajkumar Hirani
772                      Dean DeBlois
861                      Naoko Yamada
991                        Aamir Khan

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
6    Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....  2016
16   Andrew Garfield, Sam Worthington, Luke Bracey,...  2016
18   Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...  2016
26   Prabhas, Rana Daggubati, Anushka Shetty,Tamann...  2015
36   Matthew McConaughey, Anne Hathaway, Jessica Ch...  2014
50   Daisy Ridley, John Boyega, Oscar Isaac, Domhna...  2015
54   Christian Bale, Heath Ledger, Aaron Eckhart,Mi...  2008
64   Christian Bale, Hugh Jackman, Scarlett Johanss...  2006
67   Tom Hardy, Charlize Theron, Nicholas Hoult, Zo...  2015
74   Ginnifer Goodwin, Jason Bateman, Idris Elba, J...  2016
76   Robert Downey Jr., Chris Evans, Scarlett Johan...  2012
77   Brad Pitt, Diane Kruger, Eli Roth,MÃ©lanie Laurent  2009
80   Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...  2010
82   Leonardo DiCaprio, Jonah Hill, Margot Robbie,M...  2013
83   Ben Affleck, Rosamund Pike, Neil Patrick Harri...  2014
90   Hugh Jackman, Jake Gyllenhaal, Viola Davis,Mel...  2013
92   Emma Stone, Viola Davis, Octavia Spencer, Bryc...  2011
96   RyÃ»nosuke Kamiki, Mone Kamishiraishi, RyÃ´ Nari...  2016
99   Leonardo DiCaprio, Matt Damon, Jack Nicholson,...  2006
111  Chiwetel Ejiofor, Michael Kenneth Williams, Mi...  2013
114  Daniel Radcliffe, Emma Watson, Rupert Grint, M...  2011
117  Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...  2016
124  Christian Bale, Tom Hardy, Anne Hathaway,Gary ...  2012
133  Miles Teller, J.K. Simmons, Melissa Benoist, P...  2014
136  Tommy Lee Jones, Javier Bardem, Josh Brolin, W...  2007
138  Leonardo DiCaprio, Emily Mortimer, Mark Ruffal...  2010
143  Brie Larson, Jacob Tremblay, Sean Bridgers,Wen...  2015
144  Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...  2012
145  Min-hee Kim, Jung-woo Ha, Jin-woong Jo, So-ri ...  2016
154  Chris Isaak, Kiefer Sutherland, C.H. Evans, Sa...  2014
192  Mark Ruffalo, Michael Keaton, Rachel McAdams, ...  2015
194  Tom Hardy, Nick Nolte, Joel Edgerton, Jennifer...  2011
197  Emile Hirsch, Vince Vaughn, Catherine Keener, ...  2007
198  Benedict Cumberbatch, Keira Knightley, Matthew...  2014
230  Ivana Baquero, Ariadna Gil, Sergi LÃ³pez,Maribe...  2006
238  Ralph Fiennes, F. Murray Abraham, Mathieu Amal...  2014
241  Amy Poehler, Bill Hader, Lewis Black, Mindy Ka...  2015
249  FranÃ§ois Cluzet, Omar Sy, Anne Le Ny, Audrey F...  2011
299  Daniel Day-Lewis, Paul Dano, CiarÃ¡n Hinds,Mart...  2007
334  Daniel BrÃ¼hl, Chris Hemsworth, Olivia Wilde,Al...  2013
427  Matt Damon, Edgar RamÃ­rez, Joan Allen, Julia S...  2007
430    Aamir Khan, Madhavan, Mona Singh, Sharman Joshi  2009
455  Mads Mikkelsen, Thomas Bo Larsen, Annika Wedde...  2012
476  Ulrich MÃ¼he, Martina Gedeck,Sebastian Koch, Ul...  2006
478  Alia Shawkat, Nancy Kwan, Annabelle Attanasio,...  2016
499  Edward Asner, Jordan Nagai, John Ratzenberger,...  2009
608  Anne Dorval, Antoine-Olivier Pilon, Suzanne Cl...  2014
634  Ben Burtt, Elissa Knight, Jeff Garlin, Fred Wi...  2008
641  DarÃ­o Grandinetti, MarÃ­a Marull, MÃ³nica Villa,...  2014
645  Clint Eastwood, Bee Vang, Christopher Carley,A...  2008
688      Tom Hanks, Tim Allen, Joan Cusack, Ned Beatty  2010
695  Richard Gere, Joan Allen, Cary-Hiroyuki Tagawa...  2009
713  Lubna Azabal, MÃ©lissa DÃ©sormeaux-Poulin, Maxim...  2010
742  Ricardo DarÃ­n, Soledad Villamil, Pablo Rago,Ca...  2009
765  Aamir Khan, Anushka Sharma, Sanjay Dutt,Boman ...  2014
772  Jay Baruchel, Gerard Butler,Christopher Mintz-...  2010
861     Miyu Irino, Saori Hayami, Aoi Yuki, KenshÃ´ Ono  2016
991  Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...  2007

     Runtime (Minutes)  Rating    Votes  Revenue (Millions)  Metascore
0                  121     8.1   757074              333.13       76.0
6                  128     8.3   258682              151.06       93.0
16                 139     8.2   211760               67.12       71.0
18                 118     8.1   102061               51.69       69.0
26                 159     8.3    76193                6.50        NaN
36                 169     8.6  1047747              187.99       74.0
50                 136     8.1   661608              936.63       81.0
54                 152     9.0  1791916              533.32       82.0
64                 130     8.5   913152               53.08       66.0
67                 120     8.1   632842              153.63       90.0
74                 108     8.1   296853              341.26       78.0
76                 143     8.1  1045588              623.28       69.0
77                 153     8.3   959065              120.52       69.0
80                 148     8.8  1583625              292.57       74.0
82                 180     8.2   865134              116.87       75.0
83                 149     8.1   636243              167.74       79.0
90                 153     8.1   431185               60.96       74.0
92                 146     8.1   342429              169.71       62.0
96                 106     8.6    34110                4.68       79.0
99                 151     8.5   937414              132.37       85.0
111                134     8.1   486338               56.67       96.0
114                130     8.1   590595              380.96       87.0
117                161     8.8    48969               11.15        NaN
124                164     8.5  1222645              448.13       78.0
133                107     8.5   477276               13.09       88.0
136                122     8.1   660286               74.27       91.0
138                138     8.1   855604              127.97       63.0
143                118     8.2   224132               14.68       86.0
144                165     8.4  1039115              162.80       81.0
145                144     8.1    33418                2.01       84.0
154                 91     8.1     1973                 NaN        NaN
192                128     8.1   268282               44.99       93.0
194                140     8.2   355722               13.65       71.0
197                148     8.1   459304               18.35       73.0
198                114     8.1   532353               91.12       73.0
230                118     8.2   498879               37.62       98.0
238                 99     8.1   530881               59.07       88.0
241                 95     8.2   416689              356.45       94.0
249                112     8.6   557965               13.18       57.0
299                158     8.1   400682               40.22       92.0
334                123     8.1   339722               26.90       75.0
427                115     8.1   525700              227.14       85.0
430                170     8.4   238789                6.52       67.0
455                115     8.3   192263                0.61       76.0
476                137     8.5   278103               11.28       89.0
478                 96     8.3       61                 NaN       71.0
499                 96     8.3   722203              292.98       88.0
608                139     8.1    33560                3.49       74.0
634                 98     8.4   776897              223.81        NaN
641                122     8.1   110100                3.08       77.0
645                116     8.2   595779              148.09        NaN
688                103     8.3   586669              414.98       92.0
695                 93     8.1   177602                 NaN       61.0
713                131     8.2    92863                6.86       80.0
742                129     8.2   144524               20.17       80.0
765                153     8.2   103279               10.57       51.0
772                 98     8.1   523893              217.39       74.0
861                129     8.4     2421                 NaN       80.0
991                165     8.5   102697                1.20       42.0

In [ ]:
# Calculate the mean, median, and standard deviation for each numerical column in the dataset.

In [ ]:
# Select the columns Name, Age, and Salary from the DataFrame

In [ ]:
# Filter rows where Age is greater than 25 and Salary is greater than 50000

In [ ]:
# Calculate a 10% bonus on the Salary and add it as a new column called Bonus.

In [ ]:
#Using loc, select rows with indices 0 to 3 and columns Name and Age.

In [ ]:
# Using loc, select rows where Age is greater than 30 and display the Name and Salary columns.

In [ ]:
# Set the Status column to 'Senior' for employees with an Age greater than 40.

In [ ]:
# Using iloc, select the first 5 rows and the first 3 columns.

In [ ]:
# Select rows with indices 1, 3, and 5 and columns with indices 0, 2, and 4 using iloc.

In [ ]:
# Select rows 5 to 10 and columns 2 to 4 using iloc.

In [ ]:
# The DataFrame has a Price column. 
# Add a new column called Discounted_Price, which applies a 10% discount to Price if the price is above 100, otherwise keep it the same. 
# Use the apply() function.